{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper container-fluid col-md-11">
        <h1 id="title">--- MANAGE USERS WITH AJAX IN SYMFONY 3 ---</h1>

        <div class="createUser col-sm-4">
            {% include 'user/newUser.html.twig' %}
        </div>

        <div class="table-user container col-sm-7 col-sm-offset-1">
            <div class="">

            </div>
            <table class="table-title table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-1">Age</th>
                    <th class="col-md-1">Delete User</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for users in user  %}
                    <td>{{ users.name }}</td>
                    <td>{{ users.age }}</td>
                    <td>
                        <button id="{{ users.id }}" type="button" class="deleteUser btn btn-lg btn-danger">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}